# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Systemowe (Mac)
.DS_Store

# Twoje foldery do ukrycia (wpisz dokładnie tak, jak się nazywają)
ignore/
notatki/
"notatki na zajecia/"

# Narzędzia uv i VS Code
.python-version
.vscode/